body {width: 1900px}
.heading,.sub-heading{
    color:green;
    text-align: center;
}input {width: 90%; margin-left: auto; margin-right: auto; display: block; margin-bottom: 20px;;}
.playlist {background-color: rgb(180, 201, 201); display: inline-block; margin-right: 5px; margin-left: 5px; width: fit-content;
    color: white; text-align: center; padding: 5px; margin-bottom: 10px;;}
.playlist .header {background-color: rgb(165, 113, 152);}
.playlist .header .delete {float: right; margin-right: -10px; margin-top: -20px; background-color: red; color: white; border-radius: 8px; height: 20px; font-size: 20px; cursor: pointer;}  
.card-grid {margin-right: auto; margin-left: auto; max-width: 80%;}
.card {  width: 380px; min-height: 300px; display: grid inline; text-align: center; background-color:  rgb(233, 233, 233);
     overflow-wrap: break-word; margin: 10px; color:rgb(236, 122, 221); padding: 5px; -webkit-box-shadow: 0px 5px 12px 5px rgba(0,0,0,0.56); 
     box-shadow: 0px 5px 12px 5px rgba(0,0,0,0.56); border-radius: 2px;}
.card img {margin-left: auto; margin-right: auto;}
.card .genre {background-color: rgb(236, 122, 221); color: white; text-justify: auto; padding-top: 2px; font-weight: bold; margin-bottom: 16px;} 